---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Joseph Lakata" showHeader={false} showFooter={false}>
  <main class="landing">
    <div class="center">
      <img src="/assets/joseph-lakata.png" alt="Joseph Lakata" class="logo" />
    </div>
  </main>

  <style>
    body {
      background-color: #fff;
      margin: 0;
    }
    .landing {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background: #fff;
    }
    .center {
      text-align: center;
    }
    .logo {
      max-width: 100%;
      width: 80%;
      height: auto;
    }
  </style>
</Layout>
