---
import Footer from "@components/general/Footer.astro";
import Navbar from "@components/general/Navbar.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Joseph Lakata</title>

    <!-- Add this font link 👇 -->
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet" />

  </head>
  <body>
    <Navbar />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
